%main.group-main
  %header.header
    %h2 Hello #{current_user.username}!
  %h3.owned_groups Owned groups
  %ul.no-list-style
    - @owned_groups.each do |group|
      %li= link_to group.name, "/groups/#{group.id}", class: 'no-underline'
  %h3.other_groups Others
  %ul.no-list-style
    - @other_groups.each do |group|
      %li= link_to group.name, "/groups/#{group.id}", class: 'no-underline'
