%html
  %head
    %title GroupMgmt
    %meta{ name:"viewport", content:"width=device-width,initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" }

  %body
    %nav.main-nav
      %ul.no-list-style.main-nav-list
        %li.logo-list-item
          = link_to '/' do
            %img{ src: asset_path('logo.png'), alt: 'logo', class: 'logo' }
        #burger-icon
          %i.fa.fa-bars
    #nav-links
      - if user_signed_in?
        = link_to 'Create Group', '/groups/new', class: 'no-underline nav-link create-group'
        = link_to 'Sign out', '/users/sign_out', data: { turbo_method: :delete }, class: 'no-underline nav-link sign-out'
      - else
        %p.sign-in= link_to 'Sign in', '/users/sign_in', class: 'no-underline nav-link'
        %p.sign-up= link_to 'Sign up', '/users/sign_up', class: 'no-underline nav-link'
    %p.notice= notice
    %p.alert= alert
    = yield

    :javascript
      var burgerIcon = document.querySelector('.fa-bars');

      var showLinks = () => {
        let navLinks = document.querySelector('#nav-links')
        if (navLinks.style.display === 'block') {
          navLinks.style.display = 'none'
        } else {
          navLinks.style.display = 'block'
        }
      }

      burgerIcon.addEventListener('click', showLinks)


